<html>

{% block head %}
<!--
                              o8o                                              .
                              `"'                                            .o8
 .ooooo.  oooo d8b  .ooooo.  oooo   .oooo.o  .oooo.o  .oooo.   ooo. .oo.   .o888oo
d88' `"Y8 `888""8P d88' `88b `888  d88(  "8 d88(  "8 `P  )88b  `888P"Y88b    888
888        888     888   888  888  `"Y88b.  `"Y88b.   .oP"888   888   888    888
888   .o8  888     888   888  888  o.  )88b o.  )88b d8(  888   888   888    888 .
`Y8bod8P' d888b    `Y8bod8P' o888o 8""888P' 8""888P' `Y888""8o o888o o888o   "888"

-->


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/materialize.css" type="text/css" />
	<link rel="stylesheet" href="../static/fonts/roboto/Roboto-Regular.woff" type="text/css" />
	<title>_</title>
</head>

<nav class="grey darken-3" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{{ url_for('home') }}" class="brand-logo">
        <img src="../static/images/deezer-logo-png-transparent.png" style="height: 100%; padding: 10px;">
        </a>
    </div>
</nav>

{% endblock %}

{% block content %}

{% endblock %}

</html>
